.block {
  width: 100%;
  background: var(--color-bg-secondary-2);

  @include media-breakpoint-up(lg) {
    border-radius: 40px;
  }

  @include media-breakpoint-down(lg) {
    border-radius: 20px;
  }
}
