.button {
  outline: 2px solid transparent !important;
  transition: 0.2s;
  color: var(--color-text-primary);
  background: transparent;

  @include media-breakpoint-up(lg) {
    font-weight: 480;
    border-radius: 40px;
  }

  @include media-breakpoint-down(lg) {
    font-weight: 400;
    border-radius: 20px;
  }

  &:hover {
    outline-color: var(--color-text-primary) !important;
    background: var(--color-bg-primary) !important;
    color: var(--color-text-primary);
  }

  &--active {
    color: var(--color-text-secondary);
    background: var(--color-bg-secondary);
    outline: 2px solid transparent !important;
    transition: 0.2s;

    @include media-breakpoint-up(lg) {
      font-weight: 480;
      border-radius: 40px;
    }

    @include media-breakpoint-down(lg) {
      font-weight: 400;
      border-radius: 20px;
    }

    &:hover {
      outline-color: var(--color-text-primary) !important;
      background: var(--color-bg-primary) !important;
      color: var(--color-text-primary);
    }
  }

  &--second {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    border-radius: 100px;
    background: var(--color-bg-secondary-2);
    color: var(--color-text-primary);
  }
}
