* {
  font-family: var(--typography-fontFamily);

  scroll-behavior: smooth;

  &:focus-visible {
    outline: none;
  }
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

a {
  text-decoration: none;
  color: white;
}

img {
  width: 100%;
  height: 100%;
}

svg {
  display: inline-block;
  width: 100%;
  height: 100%;
}

h1 {
  font-weight: 480;

  @include media-breakpoint-up(xl) {
    font-size: 80px;
    line-height: 88px;
  }

  @include media-breakpoint-between(lg, xl) {
    font-size: 60px;
    line-height: 68px;
  }

  @include media-breakpoint-down(lg) {
    font-size: 24px;
    line-height: 26.4px;
  }
}

h2 {
  font-weight: 480;

  @include media-breakpoint-up(xl) {
    font-size: 64px;
    line-height: 80.64px;
  }
  @include media-breakpoint-between(lg, xl) {
    font-size: 50px;
    line-height: 68px;
  }
  @include media-breakpoint-down(lg) {
    font-size: 24px;
    line-height: 30.24px;
  }
}

.content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;

  @include media-breakpoint-up(lg) {
    gap: 144px;
    margin-bottom: 180px;
  }

  @include media-breakpoint-down(lg) {
    gap: 80px;
    margin-bottom: 80px;
  }
}
.footer {
  flex-shrink: 0;
}

.footer,
.content {
  margin-left: var(--spacing-container);
  margin-right: var(--spacing-container);
}
