:root {
  --typography-htmlFontSize: 16px;

  --color-primary: #d6d6d6;
  --color-secondary: #151515;
  --color-black: #0c0c0c;
  --color-gray-500: #3b3b3b;
  --color-gray-600: #9c9c9c;
  --color-gray-700: #8c8c8c;
  --color-error: #ff5d5d;

  --color-text-primary: var(--color-primary, #d6d6d6);
  --color-text-primary-2: var(--color-gray-600);
  --color-text-primary-3: var(--color-gray-700);
  --color-text-secondary: var(--color-black);

  --color-bg-primary: var(--color-black);
  --color-bg-primary-2: var(--color-gray-500);
  --color-bg-secondary: var(--color-primary, #d6d6d6);
  --color-bg-secondary-2: var(--color-secondary);

  --typography-fontFamily: "WixMadeforDisplay";

  @include media-breakpoint-up(lg) {
    --spacing-container: 48px;
  }

  @include media-breakpoint-down(lg) {
    --spacing-container: 15px;
  }
}
