:root {
  --typography-htmlFontSize: 16px;

  --color-primary: #d6d6d6;
  --color-secondary: #151515;
  --color-black: #0c0c0c;
  --color-gray-600: #9c9c9c;
  --color-gray-700: #8c8c8c;

  --color-text-primary: var(--color-primary, #d6d6d6);
  --color-text-secondary: var(--color-black);

  --color-bg-primary: var(--color-black);
  --color-bg-secondary: var(--color-primary, #d6d6d6);
  --color-bg-secondary-2: var(--color-secondary);

  --typography-fontFamily: "WixMadeforDisplay";

  @include media-breakpoint-up(xl) {
    --spacing-container: 32px;
  }

  @include media-breakpoint-between(lg, xl) {
    --spacing-container: 24px;
  }

  @include media-breakpoint-down(lg) {
    --spacing-container: 20px;
  }
}
