<% var logo_name = { title: "SoftFab" }; %>

<%=_.template(require('./../includes/_html-top.html').default)({ title: "About SoftFab" })%>
<%=_.template(require('./../includes/header.html').default)(logo_name)%>

<main class="content">
    <%=_.template(require('./../includes/section1.html').default)()%>
    <%=_.template(require('./../includes/section2.html').default)()%>
    <%=_.template(require('./../includes/articles.html').default)()%>
</main>

<%=_.template(require('./../includes/footer.html').default)(logo_name)%>
<%=_.template(require('./../includes/_html-bottom.html').default)()%>
