.section1 {
  &__inner {
    display: grid;

    @include media-breakpoint-up(lg) {
      // grid-template-columns: 320px 1fr 320px;
      grid-template-columns: 25% 1fr 25%;

      grid-template-rows: auto 215px auto;
      gap: 20px;
    }
    @include media-breakpoint-down(lg) {
      grid-template-columns: 1fr 108px;
      gap: 10px;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;

    @include media-breakpoint-up(xl) {
      padding: 59px 84px;
    }

    @include media-breakpoint-between(lg, xl) {
      padding: 35px 50px;
    }

    @include media-breakpoint-down(lg) {
      padding: 18px 32px;
      grid-column: 1;
      grid-row: 1;
    }
  }

  &__image:nth-of-type(3) {
    @include media-breakpoint-down(lg) {
      grid-row: 1 / 3;
    }
  }

  &__image:nth-of-type(4) {
    @include media-breakpoint-down(lg) {
      grid-row: 4;
      grid-column: 1 / 3;
      max-height: 131px;
    }
  }

  &__article {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__article:nth-of-type(1) {
    @include media-breakpoint-up(xl) {
      padding: 88px 56px;
      grid-row: 1 / 3;
    }

    @include media-breakpoint-between(lg, xl) {
      padding: 36px;
      grid-row: 1 / 3;
    }

    @include media-breakpoint-down(lg) {
      padding: 25px 25px 25px 32px;
      grid-column: 1;
      grid-row: 2;
    }
  }

  &__article:nth-of-type(5) {
    @include media-breakpoint-up(xl) {
      padding: 85px 80px;
      grid-row: 2 / 4;
      grid-column: 2 / 4;
    }

    @include media-breakpoint-between(lg, xl) {
      padding: 45px 40px;
      grid-row: 2 / 4;
      grid-column: 2 / 4;
    }

    @include media-breakpoint-down(lg) {
      padding: 27px 30px 27px 32px;
      grid-row: 3;
      grid-column: 1 / 3;
    }
  }

  &__article-icon {
    position: absolute;
    bottom: 12px;
    right: 12px;
    transform: rotate(90deg);

    @include media-breakpoint-up(lg) {
      display: none;
    }
  }
}

.section2 {
  &__inner {
    display: grid;

    @include media-breakpoint-up(lg) {
      // grid-template-columns: 320px 1fr 320px;
      grid-template-columns: 25% 1fr 25%;
      gap: 20px;
    }

    @include media-breakpoint-down(lg) {
      grid-template-columns: 1fr 1fr;
      gap: 10px;
    }
  }

  &__article {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &:nth-of-type(2) {
      @include media-breakpoint-up(xl) {
        padding: 85px 78px;
      }

      @include media-breakpoint-between(lg, xl) {
        padding: 45px 38px;
      }

      @include media-breakpoint-down(lg) {
        grid-row: 1;
        grid-column: 1 / 3;
        padding: 27px 32px;
      }
    }

    &:nth-of-type(3) {
      @include media-breakpoint-up(xl) {
        padding: 54px;
      }

      @include media-breakpoint-between(lg, xl) {
        padding: 38px;
      }

      @include media-breakpoint-down(lg) {
        padding: 28px;
      }
    }

    &:nth-of-type(4) {
      grid-column: 1 / 3;

      @include media-breakpoint-up(xl) {
        padding: 55px 88px;
      }

      @include media-breakpoint-between(lg, xl) {
        padding: 35px;
      }

      @include media-breakpoint-down(lg) {
        grid-row: 3;
        padding: 24px 32px;
      }
    }
  }

  &__image {
    &:nth-of-type(5) {
      @include media-breakpoint-down(lg) {
        grid-column: 1 / 3;
        max-height: 130px;
      }
    }
  }

  &__article-icon {
    position: absolute;
    bottom: 12px;
    right: 12px;
    transform: rotate(90deg);

    @include media-breakpoint-up(lg) {
      display: none;
    }
  }
}

.articles {
  &__inner {
    display: flex;
    flex-direction: column;

    @include media-breakpoint-up(lg) {
      gap: 20px;
    }

    @include media-breakpoint-down(lg) {
      gap: 10px;
    }
  }

  &__item {
    @include media-breakpoint-up(xl) {
      padding: 55px 88px;
    }

    @include media-breakpoint-between(lg, xl) {
      padding: 35px 48px;
    }

    @include media-breakpoint-down(lg) {
      padding: 27px 32px;
    }
  }
}
