.footer {
  @include media-breakpoint-up(lg) {
    padding-bottom: 48px;
  }
  @include media-breakpoint-down(lg) {
    padding-bottom: 0 15px;
  }

  &__inner {
    display: flex;

    @include media-breakpoint-up(lg) {
      gap: 20px;
    }
    @include media-breakpoint-down(lg) {
      flex-direction: column;
      gap: 10px;
    }
  }

  &__first {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include media-breakpoint-up(xl) {
      max-width: 532px;
      gap: 37px;
      padding: 73px 53px;
    }

    @include media-breakpoint-between(lg, xl) {
      max-width: 40%;
      gap: 20px;
      padding: 50px 40px;
    }

    @include media-breakpoint-down(lg) {
      gap: 20px;
      padding: 25px 21px 32px;
    }
  }

  &__logo {
    font-weight: 480;
    color: var(--color-text-primary);

    @include media-breakpoint-up(xl) {
      font-size: 64px;
      line-height: 80.64px;
    }

    @include media-breakpoint-between(lg, xl) {
      font-size: 44px;
      line-height: 50.64px;
    }

    @include media-breakpoint-down(lg) {
      font-size: 20px;
      line-height: 25.2px;
    }
  }

  &__text {
    font-weight: 480;
    color: var(--color-text-primary);

    @include media-breakpoint-up(xl) {
      font-size: 32px;
      line-height: 40.32px;
    }

    @include media-breakpoint-between(lg, xl) {
      font-size: 24px;
      line-height: 30.32px;
    }

    @include media-breakpoint-down(lg) {
      font-size: 16px;
      line-height: 20.16px;
    }
  }

  &__second {
    flex: 1 0 auto;
    display: flex;

    @include media-breakpoint-up(lg) {
      gap: 20px;
    }
    @include media-breakpoint-down(lg) {
      gap: 10px;
    }
  }

  &__second-column {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include media-breakpoint-up(lg) {
      gap: 20px;
    }
    @include media-breakpoint-down(lg) {
      gap: 10px;
    }
  }

  &__second-title {
    font-weight: 480;
    color: var(--color-text-primary);

    @include media-breakpoint-up(xl) {
      padding: 45px 48px;
      font-size: 36px;
      line-height: 45.36px;
    }

    @include media-breakpoint-between(lg, xl) {
      padding: 35px;
      font-size: 28px;
      line-height: 32.36px;
    }

    @include media-breakpoint-down(lg) {
      padding: 20px;
      font-size: 20px;
      line-height: 26px;
    }
  }
  &__second-button {
    @include media-breakpoint-up(xl) {
      padding: 24px 24px 24px 48px;
      font-size: 32px;
      line-height: 40.32px;
      font-weight: 480;
    }

    @include media-breakpoint-between(lg, xl) {
      padding: 20px 25px 20px 35px;
      font-size: 26px;
      line-height: 32.36px;
      font-weight: 480;
    }

    @include media-breakpoint-down(lg) {
      padding: 9px 10px 9px 20px;
      font-size: 16px;
      font-weight: 400;
      line-height: 20.8px;
    }
  }

  &__second-button:hover &__second-button-icon {
    color: var(--color-text-primary);
    fill: transparent;
  }
}
