.header {
  background: var(--color-bg-primary);

  @include media-breakpoint-up(lg) {
    padding: 32px 112px;
  }

  // @include media-breakpoint-between(md, lg) {
  //   padding: 20px;
  // }

  @include media-breakpoint-down(lg) {
    padding: 15px;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
  }

  &__logo {
    color: var(--color-text-primary);
    font-weight: 480;

    @include media-breakpoint-up(lg) {
      font-size: 40px;
    }

    @include media-breakpoint-down(lg) {
      font-size: 24px;
      line-height: 30.24px;
      margin-left: 12px;
    }
  }

  &__nav {
    background: var(--color-bg-primary);

    @include media-breakpoint-up(lg) {
      top: 50%;
      right: 0;
      position: absolute;
      transform: translate(0, -50%);
    }

    @include media-breakpoint-down(lg) {
      height: 0;
      overflow: hidden;
      width: 100%;
      transition: 0.3s;
    }
  }

  &__nav-inner {
    display: flex;
    align-items: center;
    border-radius: 100px;

    @include media-breakpoint-up(lg) {
      gap: 32px;
    }

    @include media-breakpoint-down(lg) {
      justify-content: space-evenly;
      padding: 10px 13px;
      background: var(--color-bg-secondary-2);
    }
  }

  &__nav-link {
    @include media-breakpoint-up(lg) {
      padding: 8px 22px;
      font-size: 26px;
    }

    @include media-breakpoint-down(lg) {
      padding: 7px 23px;
      font-size: 16px;
    }
  }

  #checkboxMenu {
    display: none;
  }

  #checkboxMenu:checked ~ &__inner &__burger-line:nth-child(2) {
    opacity: 0;
    width: 0%;
  }

  #checkboxMenu:checked ~ &__inner &__burger-line:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
  }

  #checkboxMenu:checked ~ &__inner &__burger-line:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
  }

  #checkboxMenu:checked ~ &__inner &__nav {
    margin-top: 15px;
    height: 54px;
  }

  &__burger {
    padding: 10px;
    cursor: pointer;

    @include media-breakpoint-up(lg) {
      display: none;
    }
  }

  &__burger-inner {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__burger-line {
    width: 20px;
    height: 2px;
    border-radius: 20px;
    background: var(--color-text-primary);
    transition: 0.3s;
    transform-origin: 50% 50%;
  }
}

.btn-active {
  background: var(--color-bg-secondary);
  color: var(--color-text-secondary);
  border: 2px solid var(--color-bg-secondary);
}
